
body {
  background: linear-gradient(to top left, #ced7b3, #889c5a);
  height: 100vh;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
